body {
    background-image: url(../images/legal-pad-background.png);
}

header {
    text-align: center;
}

#addTask {
    text-align: center;
}

#list {
    text-align: center;
}
table {
    margin: 5%;
}


.btn-deleteToDo {
    background-color: red;
}

.true {
    text-decoration: line-through;
    font-style: italic;
    color: rgb(138, 133, 133);
}
.false {
    font-weight: bold;
}